body
{ 
	margin: 0px;
	padding-top: 95px;

	background-color:aquamarine; /*!important;		/*   !important to override Bootstrap   */
}

body .container
{
	/*
	background-color:rgb(7, 136, 175);
	*/
}

.container .Section	/*	Portfolio	*/
{
	/*
	background-color:rgb(134, 132, 121);
	*/
}


header 
{
	margin: 0px;
	background: #333333;
	color: white;
	padding: 5px 0px 0px 15px;
}

footer
{
	background: #333333;
	color: #999999;
}

footer ul
{
	padding:20px 0px 20px 0px;
	margin: 0 auto;
	max-width: 880px;
	text-align: center;
}

footer ul li
{
	display: inline-block;
	text-align: center;
	border-right: 1px solid #999999;
	padding: 0px 30px;
}

footer ul li:last-child
{
	border-right: none;
}

footer ul.row-1
{
	padding: 30px 00px 0px 0px;
}

footer ul.row-2 li
{
	border-right: none;
	padding: 0px 11.5px 0px 11.5px;
}

footer ul.row-2 i
{
	font-size: 150%;
}

footer ul.row-3
{
	padding: 0px 0px 30px 0px;
}

footer ul.row-3 li
{
	border-right:none;
}
header a.navbar-brand
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

div.navbar-header
{
	float: left;
	margin: 0%;
	padding: 0px 10px 0px 10px;
	height: 90px;
	width: 90px;
}

ul.nav.navbar-nav.navbar-right
{
	padding: 15px 15px 15px 15px;
}

header h1
{
	margin: 0;
	display: inline;
	color: #444;
}

nav ul
{
	margin: 0;
	padding: 0px 0px 0px 15px;
	display: inline;
}

nav ul li
{
	list-style-type: none;
	display: inline-block;
	padding: 3px 5px 3px 5px;  /* Change this for the nav links */
}

nav ul li a
{
	color: blue;
}

.col
{
	float: left;
	margin: .5%;
	width: 31%;
	padding: .5%;
	background: #999;
	color: white;
	border-radius: 5px;
}

.container h1, h2, h3, h4, h5, h6
{
	padding-top: 0px;
	margin-top: 0px;
}


footer
{
	clear: both;
}

.table--unbordered 
{
	border: none;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
	.mobile-hide{ display: none; }
	.mobile-show{ display: block; }
  }

  @media screen and (min-width: 721px) {
	.mobile-hide{ display: block; }
	.mobile-show{ display: none; }
  }

  .video-container {
	max-width: 900px;
	margin: auto;
  }
  .video-container .video {
	  position: relative;
	  padding-bottom: 56.25%;
  }

  .video-container .video iframe {
	  position: absolute;
	  width: 100%;
	  height: 100%;
  }