body
{ 
	margin: 0px;
	padding-top: 95px;
	background: green;
}

h1, h2, h3, h4, h5
{
	color: red;
	padding-top: 0px;
	margin-top: 0%;
}

a
{
	color: yellow;
}

p
{
	#background: #4444ab;
	#color: white;
	padding: 0px;
}

.secondary
{
	background: none;
	color: blue;
}

header 
{
	margin: 0px;
	background: #999;
	color: white;
	padding: 5px 0px 0px 15px;
}

header a.navbar-brand
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

div.navbar-header
{
	float: left;
	margin: 0%;
	padding: 0px 10px 0px 10px;
	height: 90px;
	width: 90px;
}

ul.nav.navbar-nav.navbar-right
{
	padding: 15px 15px 15px 15px;
}

header h1
{
	margin: 0;
	display: inline;
	color: #444;
}

nav ul
{
	margin: 0;
	padding: 0px 0px 0px 15px;
	display: inline;
}

nav ul li
{
	list-style-type: none;
	display: inline-block;
	padding: 5px 15px;
}

nav ul li a
{
	color: blue;
}

.row
{

}

.col
{
	float: left;
	margin: .5%;
	width: 31%;
	padding: .5%;
	background: #999;
	color: white;
	border-radius: 5px;
}

.test{
	background: #3489db;
	margin: 0;
}

.container
{
	#background: #5094ab;
}

.container h1, h2, h3, h4, h5, h6
{
	padding-top: 0px;
	margin-top: 0px;
}


footer
{
	clear: both;
}

